body, html {
	background-color: #eee;
	font-family: "微软雅黑";
}

.num {
	font-size: 120px;
	font-weight: 700;
	color: #fff;
}

.tip {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}

.error {
	margin: 10px 0 150px;
}
